.logo {
    margin: 12% 1% 5% 15%;
}
.nav-heading{
    display: flex;
}
.bx--side-nav__item{
    margin-top: 10%;
}
.bx--side-nav__navigation{
    z-index: 0;
    background: #e5e5e5;
}
svg{
    display: none;
}
.nav-icon{
    margin-right: 1em;
}
@media only screen and (max-width: 640px){
    .sidenav{
        display: none;
    }
}
